body {
    margin: 0;
    padding: 0;
    font-family: Courier;
}

.main {
   width: 100%;
    margin: 0;
}

#side-bar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

a.side-bar {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

form.side-bar {
    float: left;
    display: block;
    padding: 8px 16px;
}
#search {
    float: left;
    display: block;
    border-radius: 8px;
}

#search:focus {
    outline: none;
}


button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #0083C9;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

input {
    text-decoration: none;
    font-size: 22px;
    color: #0083C9;
}

#cont {
    float: left;
    width: 100%;
    height: auto;
    padding: 0;
}

#photos {
    margin: 150px;
    margin-top: 100px;
    max-width: 60%;
    height: auto;
    border: solid 1px #E3E4E6;
}

div.image-container {
    float: left;
    margin: 15px;
    width: 300px;
    height: 300px;
    border: 1px solid black;
}