body {
    margin: 0;
    padding: 0;
    font-family: Courier;
}

.main {
    max-width: 1200px;
    margin: 0;
}

#side-bar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
}

a.side-bar {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

form.side-bar {
    float: left;
    display: block;
    padding: 8px 16px;
}

#search {
    float: left;
    display: block;
    border-radius: 8px;
}

#search:focus {
    outline: none;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #0083C9;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;

}

a {
    text-decoration: none;
    font-size: 22px;
    color: white;
}

#profile {

    margin: 50px;
    float: left;
    width: 1200px;
    height: 400px;

}

#profilepic {
    margin: 15px;
    float: left;
}

li {
    list-style-type: none;
    font-size: 25px;
    color: #0083C9;
    margin: 10px;
}

#info {
    float: left;
    margin: 15px;
}

#edit {
    width: 400px;
    height: 700px;
    margin-left: 35%;
    border: 1px solid #E3E4E6;
    float: left;
}

#cont {
    margin: 70px;
    text-align: center;

}

input {
    margin: 10px;
}
